h4 {
  font-weight: normal;
}

.contract {
  white-space: pre;
  padding-left: 40px;
}


h1 {
  text-align: left
}

ol {
  padding-inline-start: 0;
}

ul {
  list-style: none;
  padding-inline-start: 5px;
}

ul li::before {
  content: "\2022  ";
  color: black;
}